/* CLEARFIX HACK */
.row,
.clr,
.group							{ zoom: 1; } /* IE6 */

*:first-child+html .row,
*:first-child+html .clr,
*:first-child+html .group		{ zoom: 1; } /* IE7 */


//grid system for ie



	.span_1 { width: 83.3px; }
	.span_2 { width: 166px; }
	.span_3 { width: 250px; }
	.span_4 { width: 333.3px; }
	.span_5 { width: 416.67px; }
	.span_6 { width: 500px; }
	.span_7 { width: 583.3px; }
	.span_8 { width: 666.6px; }
	.span_9 { width: 750px; }
	.span_10 { width: 833.3px; }
	.span_11 { width: 916.67px; }
	.span_12 { width: 1000px; }

	.gutters .span_1 { width: 60.5px; }
	.gutters .span_2 { width: 150px; }
	.gutters .span_3 { width: 235px; }
	.gutters .span_4 { width: 320px; }
	.gutters .span_5 { width: 405px; }
	.gutters .span_6 { width: 490px; }
	.gutters .span_7 { width: 575px; }
	.gutters .gutters .span_8 { width: 660px; }
	.gutters .span_9 { width: 745px; }
	.gutters .span_10 { width: 830px; }
	.gutters .span_11 { width: 915px; }
	.gutters .span_12 { width: 1000px; }



//global

.content-wrap{
	margin-bottom: 0px;
}

.col {
		margin-left: 0;
	}

.about-article{
	margin-left: 2%;
}





//home
article.address{
	display: block;
	width: 100%;
}

.home-sub-picture{
	display: none;
	
}

//media

.video-section{
	height: 100%;
}
video{
	height: 331px;
}

//contact
.contact-us-details{
	margin: 0;
	padding: 0;
}
.contact-us{
	width: 100%;
}

//FOOTER
footer{
	width: 100%;
}




